---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/gitleaks/gitleaks
    rev: 39fdb480a06768cc41a84ef86959c07ff33091c4  # frozen: v8.28.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: 3c10df247c55cf21f75003105b879f145096bd4a  # frozen: v1.14.2
    hooks:
      - id: zizmor

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: f9351c924055bf6c7b4a4670237d3ce141e9f57c  # frozen: v0.14.0
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

exclude: .devcontainer/devcontainer-lock.json
